[*]
charset=utf-8
end_of_line=lf
insert_final_newline=false
indent_style=space
indent_size=2

[{.babelrc,.stylelintrc,.eslintrc,.loopbackrc,*.json,*.jsb3,*.jsb2,*.bowerrc}]
indent_style=space
indent_size=2

[{*.applejs,*.js}]
indent_style=space
indent_size=2

[*.jsx]
indent_style=space
indent_size=2

[{.analysis_options,*.yml,*.yaml,*.config}]
indent_style=space
indent_size=2